@import "variables.scss";

.fa, .glyphicon {
	color: $main-color;	
}

.fa-linkedin {
	color: $linkedin-main-color;
}

.fa-twitter {
	color: $twitter-main-color;
}

.fa-instagram {
	color: $instagram-main-color;
}

.fa-weixin {
	color: $wechat-main-color;
}