/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .full-width {
    height: 600px;
  }

  .navbar-nav {
    float: right !important;
  }

  .scrollable-image-container {
    .scroll-image {
      width: 80px;
      height: 80px;
      top: 220px;

      &.prev-img {
        border-radius: 0px 15px 15px 0px;
      }

      &.next-img {
        border-radius: 15px 0px 0px 15px;
      }

      i {
        font-size: 70px;
      }
    }
  }

  .footer-info {
    margin-bottom: 0;
    font-size: 12px;
    
    &:nth-child(2){
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
}