$header-color: #FFF;
$main-color: #001C69;
$secondary-color: #FFC402;

$header-height: 40px;

$facebook-main-color: #3b5998;
$linkedin-main-color: #0077b5;
$twitter-main-color: #55acee;
$instagram-main-color: #fbad50;
$wechat-main-color: #7bb32e;

$font-family: 'Century Gothic';