$header-color: #FFF;
$main-color: #001C69;
$secondary-color: #FFC402;

$header-height: 40px;

$linkedin-main-color: #0077B5;
$twitter-main-color: #55acee;
$instagram-main-color: #fbad50;
$wechat-main-color: #7bb32e;