<img class="imageme" src="/images/places/101.jpg" />

<div class="container imageme">
  <div class="content">
  	<p class="section-title">About Us</p>
    <hr style="margin-top: -10px"/>

  	<p class="section-desc">
  		<span class="highlight">Cornerstone<smaller>PMP</smaller></span> offers professional real estate and infrustructure project management and advisory services to public and private sector clients; from the point of initial concept, through development, design, construction and relocation to the point that operations or asset management begins. As project management consultants we are experienced in many types of real estate products in institutional, commercial, industrial, recreational, retail, municiple and residential construction sectors providing leadership to the team of internal and external resources and stakeholders. <span class="highlight">Cornerstone<smaller>PMP</smaller></span> has the technical skills, practical experience and commercial awareness to ensure that each project receives the careful personal attention it requires.
  	</p>

  	<p class="section-desc">
  		Comprehensive project management is essential in today’s complex business environment. Assigning a project to a specialized project management consultant is a form of risk management and a means to ensure the success of any capital investment project. Project management is not only about managing process – it is about making informed decisions as well.
  	</p>

  	<p class="section-desc">
  		At <span class="highlight">Cornerstone<smaller>PMP</smaller></span>, we have worked in connection with a varied array of built spaces – from large complex building developments to complicated phased corporate relocations. Our primary focus is providing the experience and technical expertise to lead and manage the Client’s project team in fulfillment of the financial, schedule and program goals for their projects. With a depth of experience and broad expertise, we proactively identify and control the risks and liabilities inherent in the planning, design and construction of real estate projects including new building development, existing space renovation, adaptive re-use and expansion.
  	</p>
  </div>

  <div ng-if="footer === 'default'" ng-include="'/views/footer.html'"></div>
</div>