<div class="col-md-offset-2 col-md-8">
	<p class="section-title">Contact Us</p>
	<hr style="margin-top: -10px"/>
	
	<div class="row">
		<div class="col-md-8" style="border-right: 1px solid #999">
			<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJnd-c4EUioFMRmh8MErIIq6g&key=AIzaSyDMny823bll9DuL2oHmXL4DOdog4Zin0mY" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<p class="section-title">Edmonton</p>
			<p>10060 Jasper Avenue,</p>
			<p>Tower 1, Suite 2020,</p>
			<p>Edmonton, AB,</p>
			<p>T5J 3R8</p>
			<br/>
			<div><i class="fa fa-phone" aria-hidden="true"></i> +1 (780) 238 9289</div>
			<a href="mailto:contactus@cornerstonepmp.ca">
				<i class="fa fa-envelope" aria-hidden="true"></i> contactus@cornerstonepmp.ca
			</a>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-8" style="border-right: 1px solid #999">
			<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJv2UHKP5vcVMRTEP_PxpExu8&key=AIzaSyDMny823bll9DuL2oHmXL4DOdog4Zin0mY" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<p class="section-title">Calgary</p>
			<p>1816 Crowchild Trail NW,</p>
			<p>Suite 700,</p>
			<p>Calgary, AB,</p>
			<p>T2M 3Y7</p>
			<br/>
			<a href="mailto:contactus@cornerstonepmp.ca">
				<i class="fa fa-envelope" aria-hidden="true"></i> contactus@cornerstonepmp.ca
			</a>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-8" style="border-right: 1px solid #999">
			<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=3975%20Lakeshore%20Road%2C%20Kelowna%2C%20BC%2C%20Canada&key=AIzaSyDMny823bll9DuL2oHmXL4DOdog4Zin0mY" allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<p class="section-title">Kelowna</p>
			<p>3975 Lakeshore Road,</p>
			<p>Suite 201,</p>
			<p>Kelowna, BC,</p>
			<p>V1W 1V3</p>
			<br/>
			<a href="mailto:contactus@cornerstonepmp.ca">
				<i class="fa fa-envelope" aria-hidden="true"></i> contactus@cornerstonepmp.ca
			</a>
		</div>
	</div>

	<br/>
	<br/>
	<br/>
</div>