<div class="footer row" ng-if="footer === 'default'">
  <div class="container text-center">
    <div class="row text-center">
      <div class="footer-info col-sm-4">
        <div><i class="fa fa-phone" aria-hidden="true"></i> +1 (780) 238 9289</div>
        <div>
          <a href="mailto:contactus@cornerstonepmp.ca">
            <i class="fa fa-envelope" aria-hidden="true"></i> contactus@cornerstonepmp.ca
          </a>
        </div>
        <div>
          <i class="fa fa-facebook" aria-hidden="true"></i> 
          <i class="fa fa-linkedin" aria-hidden="true"></i> 
          <i class="fa fa-twitter" aria-hidden="true"></i> 
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-weixin" aria-hidden="true"></i>
        </div>
      </div>
      <div class="footer-info col-sm-4">
        <div>
          10060 Jasper Ave
        </div>
        <div>Tower 1, Suite 2020</div>
        <div>Edmonton, AB</div>
        <div>Canada</div>
      </div>
      <div class="footer-info col-sm-4">
        <div><a ng-href="#/">Home</a></div>
        <div><a ng-href="#/about">About <span class="highlight">Cornerstone<smaller>PMP</smaller></span></a></div>
        <div><a ng-href="#/services">Services</a></div>        
        <div><a ng-href="#/contact">Contact Us</a></div>
      </div>
    </div>
  </div>
</div>

<br />