<img class="imageme" src="/images/places/3.jpg" />

<div class="container imageme">
	<div class="content">
		<p class="section-title">Services</p>
		<hr style="margin-top: -10px"/>

		<p class="section-desc">
			Project management demands a free flow of communication with and among project team members, and internal and external project stakeholders.
		</p>
		<p class="section-desc">
			The project team needs frequent information from each of its team members to complete and improve the project and to understand the needs and expectations of the project’s customers.
		</p>
		<p class="section-desc">
			As such, <span class="highlight">Cornerstone<smaller>PMP</smaller></span> has developed an efficient and proven project delivery process that can be tailored to meet the needs of its Clients.
		</p>

		<br/>

		<p class="list-title">Our services can incorporate any combination of the following components based on our client’s needs:</p>

		<ul>
			<li>Project Definition and Strategy</li>
			<li>Market Analysis</li>
			<li>Design Planning and Early Procurement</li>
			<li>Construction Implementation</li>
			<li>FF&amp;E and Technology Design and Implementation</li>
			<li>Move Management</li>
			<li>Project Close-Out and Quality Assurance.</li>
		</ul>
	</div>

	<div ng-if="footer === 'default'" ng-include="'/views/footer.html'"></div>
</div>